<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
    data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
    data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
    style="width: #width#;height: #height#;#style#">

    <div class="classContenant#uid#" id="idResume#uid#">

        <div class="classFlex#uid#">

            <div class="classTuile#uid#">

                <a href="#eqLink#" <span id="idNomObjet#uid#" class="cursor">#name_display#</span></a>

                <span id="idRafraichir#uid#" class="cmd refresh pull-right cursor classRefresh#uid#" data-cmd_id="#idRefresh#">
                    <i class="fas fa-sync"></i>
                </span>

                </br></br></br>

                <span class="classSousTitre#uid#">Nombre de contrôles</span>
                <span class="classValeur#uid#" id="idNombreControles#uid#"></span></br>
                <span class="classSousTitre#uid#">Nombre d'erreurs</span>
                <span class="classValeur#uid#" id="idNombreErreurs#uid#"></span></br>

            </div>
      
        </div>
      
    </div>

    <style>

        .classContenant#uid# {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 8px;
            color: #000000;
        }

        .classFlex#uid# {
            display: flex;
            justify-content: space-around;
        }

        .classTuile#uid# {
            width: 96%;
            height: 40px;
            position: relative;
            margin-top: 8px;
            border: 1px solid #808080;
            border-radius: 8px;
        }

        .classDemiTuile#uid# {
            width: 46%;
            height: 160px;
            margin-top: 8px;
            position: relative;
            border: 1px solid #808080;
            border-radius: 8px;
        }

        .classLibelleTuile#uid# {
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #808080;
            bottom: 5px;
        }

        #idNomObjet#uid# {
            position: absolute;
            width: 65%;
            top: 10px;
            left: 50px;
            text-align: center;
            font-size: 14px;
            color: #808080 !important;
        }

        .classRefresh#uid# {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 3px;
            top: 3px;
            filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
        }

        .classRefresh#uid#:hover {
            filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
        }

        .classSousTitre#uid# {
            position: absolute;
            width: 100%;
            left: 20px;
            text-align: left;
            font-size: 14px;
            color: #000000;
        }

        .classValeur#uid# {
            position: absolute;
            width: 100%;
            right: 25px;
            text-align: right;
            font-size: 14px;
            color: #808080;
        }

    </style>

    <script type="text/javascript">

        // Click pour rafraichir
        //
        el = document.getElementById('idRafraichir#uid#');
        el.removeEventListener('click', eventRefresh);
        el.addEventListener('click', eventRefresh);

        function eventRefresh() {
            jeedom.cmd.execute({
                id: '#idRefresh#'
            });
        }

        jeedom.cmd.addUpdateFunction('#idnErrors#', Update#uid#idnErrors);
        function Update#uid#idnErrors(_options) {
            if (is_object(cmd1 = document.getElementById('idNombreErreurs#uid#'))) {
                cmd1.innerHTML = _options.display_value;            
            }
        }
        Update#uid#idnErrors({ display_value: '#nErrors#' });

        jeedom.cmd.addUpdateFunction('#idnControls#', Update#uid#idnControls);
        function Update#uid#idnControls(_options) {
            if (is_object(cmd1 = document.getElementById('idNombreControles#uid#'))) {
                cmd1.innerHTML = _options.display_value;            
            }
        }
        Update#uid#idnControls({ display_value: '#nControls#' });

    </script>

</div>